# Environnement virtuel
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.csv
*.xsls

# Streamlit
.streamlit/


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.dbdata/raw/meteo.csv
data/raw/*.xlsx
*.csv