# Environnement virtuel
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.xsls

# Streamlit
.streamlit/


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store

# Fichiers de données volumineux (utiliser les versions *_sample.parquet pour le déploiement)
data/raw/*.xlsx
data/raw/meteo.parquet
data/raw/incendies.parquet
data/raw/meteo.csv
data/raw/incendies.csv
data/processed/